@use "sass:color";

$theme-main__color_text: #fff;
$theme-main__color_text-active: #cdaa7d;
$theme-main__color_text-active_semi: #cdaa7d80;
$theme-main__color_background: #111111;

@mixin colorSet($property, $colorMap) {
	&_color {
		@each $item, $color in $colorMap {
			&_#{$item} {
				#{$property}: $color;
			}
		}
	}
}

@mixin linearGradientSet($property, $angle, $colorMap) {
	&_color {
		@each $item, $color in $colorMap {
			&_#{$item} {
				#{$property}: linear-gradient(
					$angle,
					$color,
					color.scale($color, $lightness: 20%)
				);
			}
		}
	}
}
