.content {
	&_masters {
		& .content__section {
			&_masters {
				flex-direction: column;
				gap: 80px;

				& .masters {
					&__h1 {
						font-size: 48px;
						text-align: center;
					}

					&__list {
						display: grid;
						grid-template-columns: 1fr 1fr 1fr;
						gap: 44px;

						& .card {
							gap: 30px;

							margin-bottom: 40px;
						}
					}
				}
			}
		}
	}
}
