@import "app/styles/base";

.content {
	&_home {
		& .content__section {
			&_first-screen {
				align-items: center;
				justify-content: center;

				height: 927px;

				&::before {
					content: "";

					display: block;
					position: absolute;
					inset: 0;

					height: 1038px;

					background-image: url("app/assets/images/bgc_home.jpg");
					background-position: center top;

					z-index: -1;
				}

				& .first-screen {
					&__text {
						margin-top: -70px;

						font-size: 72px;
						font-weight: 700;
						line-height: 120%;
						text-align: center;
					}
				}

				& .mouse-down {
					display: flex;
					align-items: center;

					position: absolute;

					margin-top: 620px;

					&__icon {
						display: flex;

						margin-right: 20px;
					}

					&__text {
						font-weight: 700;
						line-height: 140%;
					}
				}
			}

			&_about {
				flex-direction: column;
				align-items: center;

				& .about {
					&__text {
						width: 856px;

						margin-top: 60px;

						font-size: 27px;
						font-weight: 700;
						line-height: 130%;
						text-align: center;
					}
				}
			}

			&_services {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 44px;

				& .card {
					gap: 30px;

					margin-bottom: 40px;

					&__elements {
						max-width: 396px;
					}
				}

				& .pagination {
					list-style: none;

					display: flex;
					justify-self: center;
					grid-column: 1 / 4;
					gap: 12px;

					&__button {
						width: 32px;
						height: 32px;

						font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
						color: $theme-main__color_text;

						border-radius: 10%;

						&:hover {
							background-color: #ffffff0d;
						}

						&_active {
							color: $theme-main__color_text-active;
						}
					}
				}
			}

			&_logotypes {
				justify-content: center;
				gap: 24px;

				margin-bottom: 48px;

				& .logotype {
					display: flex;
					align-items: center;
					justify-content: center;

					height: 144px;
					width: 306px;

					opacity: 50%;
				}
			}

			&_portfolio {
				flex-direction: column;
				gap: 80px;

				margin-bottom: 20px;

				& .portfolio {
					&__h1 {
						font-size: 48px;
						text-align: center;
					}

					&__content {
						display: grid;
						grid-template-columns: 1fr 1fr 1fr;
						gap: 24px;
					}
				}
			}
		}
	}
}
